<!-- #Top Bar --> 
<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
      <!-- User Info -->
      <div class="user-info">
          <div class="image">
              <img src="assets/images/user.png" width="48" height="48" alt="User" />
          </div>
          <div class="info-container">
              <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name</div>
              <div class="email">Mobile</div>
          </div>
      </div>
      <!-- #User Info -->
      <!-- Menu -->
      <div class="menu">
          <ul class="list">
              <li class="active">
                  <a routerLink="/dashboard">
                      <i class="material-icons">home</i>
                      <span>Home</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/services">
                      <i class="material-icons">local_laundry_service</i>
                      <span>Our Services</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/orderlist">
                      <i class="material-icons">airport_shuttle</i>
                      <span>Your Orders</span>
                  </a>
              </li>
              <li>
                <a routerLink="/offers">
                    <i class="material-icons">local_offer</i>
                    <span>Offers</span>
                </a>
            </li>
            <li>
                <a routerLink="/offers">
                    <i class="material-icons">account_balance_wallet</i>
                    <span>Wallet</span>
                </a>
            </li>
            <li>
                <a routerLink="/refferandearn">
                    <i class="material-icons">layers</i>
                    <span>Reffer & Earn</span>
                </a>
            </li>
              <li>
                <a href="tel:+919975541407">
                    <i class="material-icons">call</i>
                    <span>Call Us</span>
                </a>
            </li>
              <li>
                <a routerLink="/logout">
                    <i class="material-icons">input</i>
                    <span>Log Out</span>
                </a>
            </li>

          </ul>
      </div>
      <!-- #Menu -->
      <!-- Footer -->
      <div class="legal">
          <div class="copyright">
              &copy; 2018 <a href="javascript:void(0);">Thew</a>.
          </div>
          <div class="version">
              <b>Version: </b> 1.0.5
          </div>
      </div>
      <!-- #Footer -->
  </aside>
  <!-- #END# Left Sidebar -->
  
</section>