/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor2
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
*.log
.htaccess
index.php
resources/views/admin/loan_criteria\.php
