
<!-- <app-middel></app-middel> -->

<router-outlet></router-outlet>
<!-- 
<button type="button" (click)="Success()">Success</button>
<button type="button" (click)="Error()">Error</button>
<button type="button" (click)="Warning()">Warning</button>
<button type="button" (click)="Info()">Info</button>  -->

<!-- <div *ngIf="showlogin; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
    <router-outlet></router-outlet>
</ng-template>

<ng-template #elseBlock>
    <app-middel></app-middel> 
</ng-template> -->