

<!-- <div id="searching" class="loading loader" *ngIf="showloader">
    <a href="#" class="btn m-btn btn-outline-primary m-loader m-loader--primary m-loader--left">
        Button
      </a>
</div> -->

<!-- <ngx-loading [show]="loading"><div id="searching" class="loading loader">Loading...</div></ngx-loading> -->

<ng4-loading-spinner [loadingText]="" [template]='template' [zIndex]="9999"></ng4-loading-spinner>
<!-- <div class="visible spinner center loadermain">
    <div class="m-loader"></div>
</div> -->
